html,body{
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
    font: normal 1em/30px Arial,"Microsoft Yahei","黑体";
    color: #fff;
}
::selection{
    background: none;
}
img.bg, .container, .list{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
img.bg.bigger{
    width: 108%;
    margin-left: -5%;
}
.container{
    z-index: 1;
}
.container .time-label{
    position: absolute;
    top: 2%;
    width: 100%;
    height: 30px;
    font-weight: bold;
    background: url(../img/time-label.png) center no-repeat;
    text-align: center;
    z-index: 999;
    font-size: .9em;
}
.list li{
    position: absolute;
    width: 40%;
    height: 50%;
    bottom: 20%;
    border: 2px solid transparent;
    border-radius: 11px;
    -webkit-box-reflect: below 1px -webkit-gradient(linear, 0% 100%,400% 100%, from(rgba(255,255,255,0)), to(white));
}
.list li.left{
    right: 55%;
}
.list li.right{
    left: 55%;
}
.list li:hover{
    border: 2px solid #3495ef;
    box-shadow: 0 0 2px #3495ef;
    cursor: pointer;
}
.list li img{
    border-radius: 11px;
}

.list .title-info{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 60px 0 10px;
    -webkit-background-image: -webkit-linear-gradient(rgba(0,0,0,.0) 0%, rgba(0,0,0,.6) 100%);
    -o-background-image: -o-linear-gradient(rgba(0,0,0,.0) 0%, rgba(0,0,0,.6) 100%);
    background-image: linear-gradient(rgba(0,0,0,.0) 0%, rgba(0,0,0,.6) 100%);
    border-radius: 0 0 11px 11px;
}
.list li .timeStamp, .list li h4{
    line-height: 22px;
    width: 94%;
    margin: 0 auto;
}
.list li .timeStamp{
    font-size: .9em;
}
.time-slide{
    width: 98%;
    height: 40px;
    position: absolute;
    z-index: 999;
    left: 1%;
    bottom: 6%;
}
.slide-holder{
    width: 90%;
    left: 5%;
    position: absolute;
    top: 0;
    height: 40px;
    overflow: hidden;
}
.time-slide ul{
    position: absolute;
    line-height: 40px;
    left: 0;
    top: 0;
    width: 9999px;
}
.time-slide ul li{
    float: left;
    width: 98px;
    text-align: center;
}
.time-slide ul a{
    color: #333;
    border-radius: 5px;
    padding: 2px .5em;
    font-size: .8em;
}
.time-slide .current a,.time-slide ul a:hover{
    background: #394b5a;
    color: #fff;
}

.time-slide .left, .time-slide .right{
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -999em;
    overflow: hidden;
    border: 6px solid transparent;
    _border: 6px solid #f8f8f8;
    top: 14px;
}
.time-slide .left{
    left: 4px;
    border-right: 6px solid #394b5a;
}
.time-slide .right{
    right: 4px;
    border-left: 6px solid #394b5a;
}